<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.masinsa.mapper.WishListMapper">
	<insert id="addWishList" parameterType="com.spring.masinsa.dto.WishListDTO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO wishlist (mask_id, member_id) VALUES (#{maskId}, #{memberId});
	</insert>

</mapper>